/*Template CSS*/

/*custom class for footer links*/
.customA {
    color: #4a4a4a;
}

/*custom class for footer link hover color*/
.customA:hover {
    color: #111111;
}

/*forcing narrower footer*/
footer {
    height: 100px !important;
    /*margin-top: 40px !important;*/
}

/*below body and wrapper mods are needed for sticky footer*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*for sticky footer, the div right before the footer needs to have #wrapper id*/
#wrapper {
  flex: 1;
}